*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family:  sans-serif;
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: center;
   

}
 .nav{
    background: rgb(0, 100, 0);
    text-align: center;
}
.nav ul{
    display: inline-flex;
    list-style: none;
    color: white; 
}
.nav ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}
 .nav ul li a {
    text-decoration: none;
    color: white;
}
.active ,.nav ul li:hover{
  background-color: green;
  border-radius: 3px;
}    
.sub-menu1{
    display: none;
}

.nav ul li:hover .sub-menu1 {
    display: block;
    position: absolute;
    background-color: rgb(0, 100,0);
    margin-top: 15px;
    margin-left: -15px;
}


.nav ul li:hover .sub-menu1 ul {
    display: block;
    margin: 10px;

}

.nav ul li:hover .sub-menu1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted white;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.nav ul li:hover .sub-menu1 ul li:last-child{
    border-bottom: none;
}

.nav ul li:hover .sub-menu1 ul li a:hover{
    color: #ff2f00;
}

